/* Фон страницы */
html,
body {
  background: linear-gradient(90deg, #00009c 0%, #000000 100%);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

/* Полноэкранное изображение */
.fullscreen-image {
  width: 100vw;
  /* Занимает всю ширину экрана */
  height: 100vh;
  /* Занимает всю высоту экрана */
  -o-object-fit: contain;
  object-fit: contain;
  /* Сохраняет пропорции */
}

/* Стили для всплывающего окна */
.tooltip {
  position: absolute;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
  border-radius: 4px;
  pointer-events: none;
  font-size: 12px;
  display: none;
}

/* Стили для узлов */
.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 11px sans-serif;
  fill: aquamarine;
}

#node-info {
  position: fixed; /* Фиксированное положение */
  top: 20%;
  left: 60%;
  transform: translate(-50%, -10%); /* Центрирование по горизонтали */
  width: 400px;
  max-height: 80vh; /* Максимальная ширина окна */
  /* overflow-y: auto; */
  /* max-width: 400px; Ограничение по ширине */
  background: white; /* Фон */
  border: 1px solid #ccc; /* Граница */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Тень для красоты */
  padding: 20px;
  z-index: 1000;
  overflow: inherit; /* Обрезать содержимое, если оно выходит */
  border-radius: 8px; /* Закругленные углы */
  display: none; /* Окно скрыто по умолчанию */
}
#node-image {
  cursor: pointer;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  display: block;
  margin: 0 auto;
}

@media (max-width: 600px) {
  #node-info {
    width: 85%; /* Сделать окно почти на весь экран для маленьких устройств */
    top: 5%;
    padding: 15px;
  }

  #node-info h2 {
    font-size: 18px; /* Уменьшить размер шрифта для заголовков */
  }

  #node-info p {
    font-size: 14px; /* Уменьшить текст */
  }
}

/* Основное меню */
#nav {
  display: inline-block;
  width: 100%;
  background: #335599;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0 auto;
}

#nav li {
  margin: 10px;
  float: left;
  list-style: none;
}

#nav a {
  font-weight: bold;
  color: #e7e5e5;
  text-decoration: none;
  display: block;
  padding: 8px 20px;
  border-radius: 10px;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

/* Выделенный и наведенный элементы меню */
#nav .current a,
#nav li:hover > a {
  background: #7788aa;
  color: #000;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.7);
  text-shadow: 0 2px 2px rgba(255, 255, 255, 0.7);
}

/* Выпадающее подменю */
#nav ul {
  opacity: 0;
  visibility: hidden;
  padding: 0;
  width: 161.5px;
  position: absolute;
  background: #aabbcc;
  border: 1px solid #7788aa;
  border-radius: 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s linear, visibility 0.1s linear 0.1s;
}

#nav li:hover > ul {
  opacity: 1;
  visibility: visible;
}

#nav ul li {
  float: none;
  margin: 0;
}

#nav ul a {
  font-weight: normal;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

#nav ul ul {
  left: 160px;
  top: 0;
}

/* Contacts */

.contacts {
  padding: 80px 0;
  background-color: #000;
  border-top-left-radius: 100px;
  color: #fff;
}

.contacts-title {
  margin-bottom: 65px;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
}

.messengers {
  display: flex;
	flex-wrap: wrap;
  column-gap: 30px;
	row-gap: 30px;

}

.messenger {
	flex-grow: 1;

  display: flex;
  column-gap: 15px;
  align-items: center;
	
  padding: 46px 20px;
  border-radius: 10px;
  border: 1px solid #363636;

  color: #fff;
	font-size: 20px;

	transition: background-color 0.2s ease-in;
}

.messenger:hover {
	background-color: #1E1E1E;
}
/* Для смартфонов */
@media (max-width: 767px) {
	 /* Contacts */

    .contacts {
        padding: 40px 0;
        border-top-left-radius: 60px;
    }

    .contacts-title {
        margin-bottom: 30px;
        font-size: 28px;
    }

    .messengers {
        gap: 20px;
    }

    .messenger {
        padding: 32px 20px;
        border-radius: 12px;
        font-size: 16px;
    }

    /* FOOTER */

    .footer-inner {
        font-size: 12px;
    }

}

/* Styles für Footer */

/* Footer */

.footer {
	padding: 10px 0; 
	background-color: #335599;
	color: #5D5D5D;

}

.footer a {
	color: #5886A8;

}

.footer-inner {
	color: #fff;
	font-size: 14px;
	text-align: center;

}

.footer p+p {
	margin-top: 15px;
}
